<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/templateForm" routerLinkActive="active" class="nav-link">Template Form</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reactiveForm" routerLinkActive="active" class="nav-link">Reactive Form</a>
        </li>
      </ul><br>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
